body {
  background-image: linear-gradient(100deg, #61a1dd, skyblue);
}
#main {
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#loader-container {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#user-table-container {
  background-color: #f3f3f3;
  height: 35em;
  padding: 10px;
  border-radius: 20px;
  overflow: auto;
  margin-right: 1%;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 55em;
}
table {
  padding: 5px;
  table-layout: auto;
  height: max-content;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-style: hidden;
}
table td {
  border: 1px solid #ddd;
  height: 100%;
  width: 5%;
  padding: 8px;
}

table th {
  height: 100%;
  width: 5%;
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(70deg, #61a1dd, #0083fd);
  color: white;
  letter-spacing: 1px;
}
table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
}
#detailed-user-container {
  width: 55em;
  height: 36em;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
}
#user-image-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  background-image: linear-gradient(70deg, #61a1dd, #0083fd);
}
#user-content-container {
  color: #565656;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
img {
  width: 8em;
  margin: 15px;
  height: 8em;
  border-radius: 50%;
  box-shadow: 0 1em 8em white;
  object-fit: cover;
}
span {
  color: black;
  font-weight: lighter;
}
h3 {
  font-size: medium;
  color: brown;
  font-family: "cursive";
  text-decoration: none;
  font-weight: 700;
}
.column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#detailed-user-container::-webkit-scrollbar {
  width: 0.2em;
}

#detailed-user-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #0047ab;
}
#not-found-text{
  text-align: center;
  vertical-align:middle;
}
#data-not-found {
  display: none;
  color: white;
  font-style: oblique;
  font-weight: bolder;
  background-color: #f53b4a;
  height: 10em;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 30em;
}
@media screen and (max-width: 992px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #user-table-container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #detailed-user-container {
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
  }
  #user-image-container {
    flex-direction: row;
    width: 100%;
  }
  img {
    margin-right: 15px;
  }
}
